div {
    margin-top: 20%;
    text-align: center;
}

body {
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;  
}

button:hover {
    background-color:grey ;
}